
<div class="container text-center my-5">
    <h1 class="my-5">Aplikasi Perpus</h1>
  <div class="row">
      <div class="col-sm">
          <div class="card bayangan">
              <div class="card-body">
                <h5 class="card-title">Data Buku</h5>
                <p class="card-text">Lihat, edit, dan hapus data buku sesuai kebutuhanmu.</p>
                <a routerLink="tabelbuku" class="btn purple-bg">Lihat detail</a>
              </div>
            </div>
      </div>
      <div class="col-sm">
          <div class="card bayangan">
              <div class="card-body">
                <h5 class="card-title">Data Mahasiswa</h5>
                <p class="card-text">Lihat, edit, dan hapus data mahasiswa sesuai kebutuhanmu.</p>
                <a routerLink="tabelmahasiswa" class="btn purple-bg">Lihat detail</a>
              </div>
            </div>
      </div>
      <div class="col-sm">
          <div class="card bayangan">
              <div class="card-body">
                <h5 class="card-title">Data Transaksi</h5>
                <p class="card-text">Lihat, edit, dan hapus data transaksi sesuai kebutuhanmu.</p>
                <a routerLink="" class="btn purple-bg">Lihat detail</a>
              </div>
            </div>
      </div>
    </div>
  </div>