<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tambah Buku</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="ID" >ID:</label>
        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="book.id" required/>
      </div>
      <div class="form-group">
        <label for="Judul" >Judul:</label>
        <input type="text" class="form-control" id="judul" name="judul" [(ngModel)]="book.title" required/>
      </div>          
      <div class="form-group">
        <label for="Penerbit" >Penerbit:</label>
        <input type="text" class="form-control" id="penerbit" name="penerbit" [(ngModel)]="book.publisher" required/>
      </div>
      <div class="form-group">
        <label for="Harga">Harga:</label>
        <input [(ngModel)]="book.price" type="text" class="form-control" id="harga" name="harga" required/>
      </div>
      <div class="form-group">
        <label for="Stok">Stok:</label>
        <input type="text" class="form-control" id="stok" name="stok" value="stok" [(ngModel)]="book.stock" required/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross Click')">Close</button>
    <button type="button" class="btn purple-bg" (click)="addBook(book)">Save</button>
  </div>